h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333333;
    margin-bottom: 0.5em;
}

.kalkulator-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    gap: 5px;
    margin-bottom: 1em;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 1em;
}

.input-container input {
    height: 2rem;
    flex: 1;
    border: solid 1px #cccccc;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.button-container button {
    flex: 1;
    padding: 0.75em;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}