body {
    padding: 0;
    margin: 0;
    background: #e1e1e1;
}
.header {
    background: rgba(0, 0, 0, 0.9);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;
}
.video-container {
    position: relative;
    z-index: -1;
    top: 0;
}
.video-container iframe {
    width: 100%;
    height: 90vh;
}
.content {
    padding: 0 24px;
    text-align: justify;
    font-size: 20px;
}
.menu {
    position: sticky;
    top: 0;
    background: darkcyan;
    padding: 15px;
}
.menu a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}